
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~croppie/croppie";
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import "~selectize/dist/css/selectize.bootstrap3.css";

:root {
	--fontPrimary: 'Varela Round',Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
	--fontSecondary: 'Arimo',Verdana,"Segoe UI",Tahoma,Arial,sans-serif;
	--fontThird: 'Ubuntu', sans-serif;
}

