
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~croppie/croppie";
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import "~selectize/dist/css/selectize.bootstrap3.css";

:root {
	--fontPrimary: 'Varela Round',Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
	--fontSecondary: 'Arimo',Verdana,"Segoe UI",Tahoma,Arial,sans-serif;
}

html {
	height: 100%;
}

html, body {
    background-color: #fff;
    font-weight: 400;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    color: #1d1d1d;
    font-family: $font-family-primay;
}

/* body {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}  */

h1 {
	font-family: $font-family-secondary;
}

h2 {
    font-family: $font-family-secondary;
    font-weight: 700;
    line-height: 1.1875;
    letter-spacing: -0.3px;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.content_middle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
}

p {
	font-size: 1.25rem;
	font-weight: 400;
    line-height: 1.44444444;
    letter-spacing: -0.2px;
    color: #454545;
    margin-bottom: 1rem;
}

.j_btn {
	background: 0 0;
	background-color: #611f69;
    color: #fff;
    fill: #fff;
    display: inline-block;
    white-space: nowrap;
    flex-basis: auto;
    width: auto;
    font-size: .875rem;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    font-family: $font-family-primay;
    font-weight: 700;
    line-height: 1.28571429;
    letter-spacing: .8px;
    font-size: .875rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 19px 40px 20px;
    transition: box-shadow 420ms cubic-bezier(.165,.84,.44,1),
    			color 420ms cubic-bezier(.165,.84,.44,1),
    			background 420ms cubic-bezier(.165,.84,.44,1);

    &:hover {
    	background-color: #4a154b;
	    color: #fff;
	    fill: #fff;
	    border-color: #4a154b;
    }
}

.navbar-brand {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.form-check input[type="checkbox"] {
	margin: 5px 0 0 -18px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-30 {
	margin-bottom: 30px;
}
