header {
    position: sticky;
    top: 0;
    z-index: 1111;
}

label.cabinet{
    display: block;
    cursor: pointer;
}

label.cabinet input.file{
    position: relative;
    height: 100%;
    width: auto;
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    margin-top:-30px;
}

label.cabinet figure {
    position: relative;
    display: inline-block;
    text-align: left;
}

#upload-demo{
    width: 450px;
    height: 350px;
    padding-bottom:25px;
}
figure figcaption {
    position: absolute;
    top: 0;
    color: #fff;
    width: 100%;
    padding-left: 9px;
    padding-bottom: 5px;
    text-shadow: 0 0 10px #000;
}

p {
    font-size: 1.15rem;
}


/*drag and drop*/
.box {
    font-size: 1.25rem;
    background-color: #c8dadf;
    position: relative;
    padding: 52px 0 0 0;
    text-align: center;
}

.box.has-advanced-upload {
    background-color: #f3f3f3;
    outline: 2px dashed black;
    outline-offset: -10px;
}

.box.is-dragover {
    background-color: grey;
}



/* upload product */

.colour_item input[type=radio] {
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

.colour_item {
    position: relative;
}

.colour_item label {
    /* display: inline-block; */
    /* width: 30px; */
    /* height: 30px; */
    cursor: pointer;
    padding: 7px 7px 0;
    transition: 350ms;
    margin: 0;
}

.colour_item span.checkmark {
    display: inline-block;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    position: relative;
}

.colour_item label:hover {
    background-color: #f3f3f3;
}

.colour_item span.checkmark:after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 9px;
    height: 9px;
    background-color: green;
    border-radius: 50%;
    border: 1px solid #FFF;
    bottom: 0;
    right: 0;
    visibility: hidden;
}

.colour_item input:checked ~ .checkmark:after {
    visibility: visible;
}

.color_preview_box {
    display: flex;
    /* justify-content: space-evenly; */
    width: 100%;
    flex-wrap: wrap;
}
