label.cabinet{
    display: block;
    cursor: pointer;
}

label.cabinet input.file{
    position: relative;
    height: 100%;
    width: auto;
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    margin-top:-30px;
}

label.cabinet figure {
    position: relative;
    display: inline-block;
    text-align: left;
}

#upload-demo{
    width: 450px;
    height: 350px;
    padding-bottom:25px;
}
figure figcaption {
    position: absolute;
    top: 0;
    color: #fff;
    width: 100%;
    padding-left: 9px;
    padding-bottom: 5px;
    text-shadow: 0 0 10px #000;
}

p {
    font-size: 1.15rem;
}


/*drag and drop*/
.box {
    font-size: 1.25rem;
    background-color: #c8dadf;
    position: relative;
    padding: 52px 0 0 0;
    text-align: center;
}

.box.has-advanced-upload {
    background-color: #f3f3f3;
    outline: 2px dashed black;
    outline-offset: -10px;
}

.box.is-dragover {
    background-color: grey;
}
