/*core style*/
html {
    height: 100%;
}

html, body {
    background-color: #fff;
    font-weight: 400;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    color: #1d1d1d;
    font-family: 'Ubuntu', sans-serif;
}

/* body {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}  */

h1 {
    font-family: 'Ubuntu', sans-serif;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    line-height: 1.1875;
    letter-spacing: -0.3px;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.content_middle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
}

p {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.44444444;
    letter-spacing: -0.2px;
    color: #454545;
    margin-bottom: 1rem;
}

.j_btn {
    background: 0 0;
    background-color: #611f69;
    color: #fff;
    fill: #fff;
    display: inline-block;
    white-space: nowrap;
    flex-basis: auto;
    width: auto;
    font-size: .875rem;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    line-height: 1.28571429;
    letter-spacing: .8px;
    font-size: .875rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 19px 40px 20px;
    transition: box-shadow 420ms cubic-bezier(.165, .84, .44, 1),
    color 420ms cubic-bezier(.165, .84, .44, 1),
    background 420ms cubic-bezier(.165, .84, .44, 1);
}

.j_btn:hover {
    background-color: #4a154b;
    color: #fff;
    fill: #fff;
    border-color: #4a154b;
}


.navbar-brand {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.form-check input[type="checkbox"] {
    margin: 5px 0 0 -18px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}


header {
    position: sticky;
    top: 0;
    z-index: 1111;
}

label.cabinet {
    display: block;
    cursor: pointer;
}

label.cabinet input.file {
    position: relative;
    height: 100%;
    width: auto;
    opacity: 0;
    -moz-opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    margin-top: -30px;
}

label.cabinet figure {
    position: relative;
    display: inline-block;
    text-align: left;
}

#upload-demo {
    width: 450px;
    height: 350px;
    padding-bottom: 25px;
}

figure figcaption {
    position: absolute;
    top: 0;
    color: #fff;
    width: 100%;
    padding-left: 9px;
    padding-bottom: 5px;
    text-shadow: 0 0 10px #000;
}

p {
    font-size: 1.15rem;
}


/*drag and drop*/
.box {
    font-size: 1.25rem;
    background-color: #c8dadf;
    position: relative;
    padding: 52px 0 0 0;
    text-align: center;
}

.box.has-advanced-upload {
    background-color: #f3f3f3;
    outline: 2px dashed black;
    outline-offset: -10px;
}

.box.is-dragover {
    background-color: grey;
}


/* upload product */

.colour_item input[type=radio] {
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

.colour_item {
    position: relative;
}

.colour_item label {
    /* display: inline-block; */
    /* width: 30px; */
    /* height: 30px; */
    cursor: pointer;
    padding: 7px 7px 0;
    transition: 350ms;
    margin: 0;
}

.colour_item span.checkmark {
    display: inline-block;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    position: relative;
}

.colour_item label:hover {
    background-color: #f3f3f3;
}

.colour_item span.checkmark:after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 9px;
    height: 9px;
    background-color: green;
    border-radius: 50%;
    border: 1px solid #FFF;
    bottom: 0;
    right: 0;
    visibility: hidden;
}

.colour_item input:checked ~ .checkmark:after {
    visibility: visible;
}

.color_preview_box {
    display: flex;
    /* justify-content: space-evenly; */
    width: 100%;
    flex-wrap: wrap;
}


/* new header */
.nav_left {
    text-transform: uppercase;
}

ul.nav_left .nav-item .nav-link {
    font-weight: 400;
    font-size: 15px;
    padding: 0 15px;
    position: relative;
    line-height: 70px;
    height: 70px;
    text-transform: uppercase;
    color: #333;
}

ul.nav_left .nav-item .nav-link:hover {
    color: #3f73e0;
}
ul.nav_left li.nav-item.active a.nav-link {
    color: #3f73e0;
}

ul.nav_left li.nav-item.active a.nav-link:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background: #3f73e0;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.navbar .navbar-brand {
    color: #5b92f9;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.my_account_btn {
    border: 1px solid #5f95f9;
    color: #5f95f9 !important;
    display: inline-block;
    height: 40px;
    line-height: 38px;
    /*margin: 15px 0;*/
    padding: 0 30px;
    position: relative;
    font-weight: 400;
    border-radius: 40px;
    font-size: 14px;
    text-align: center;
    width: 160px;
    transition: background-color 300ms ease-out;
}

a.nav-link.nav_btn_fav {
    display: inline-block;
    padding: 0 14px;
    height: 40px;
    line-height: 38px;
    position: relative;
    font-weight: 400;
    border: 1px solid #5b92f9 !important;
    background: transparent;
    color: #5b92f9 !important;
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 15px;
    width: 40px;
    text-align: center;
    transition: 300ms;
}
.bottom_menu {
    padding: 0.5rem 1rem;
}

a.nav-link.nav_btn_cart {
    border: none;
    color: #fff!important;
    display: inline-block;
    height: 40px;
    line-height: 38px;
    /*margin: 15px 0;*/
    padding: 0 30px;
    position: relative;
    font-weight: 400;
    border-radius: 40px;
    font-size: 14px;
    text-align: center;
    width: 160px;
    background: #63cb6c;
    transition: background-color 300ms ease-out;
}
a.nav-link.nav_btn_cart:hover {
    background: #4fb958;
}

i.fas.fa-shopping-cart {
    margin-right: 8px;
}

.my_account_btn:hover,
a.nav-link.nav_btn_fav:hover {
    background: #5f95f9;
    color: #fff !important;
}
.bottom_menu {
    /* border-top: 2px solid lightgray; */
    /* border-bottom: 2px solid lightgray; */
    background: #fafafa;
    overflow: auto;
    /* margin: 0 10px 0 0; */
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

nav.navbar.navbar-expand-lg.navbar-light.bg-white {
    /* box-shadow: inset 0px 3px 10px rgba(0,0,0,0.1); */
}

.bottom_menu ul.nav_left .nav-item .nav-link {
    text-transform: capitalize;
    font-size: 14px;
    padding: 0 15px;
    height: 50px;
    font-size: 14px !important;
    line-height: 50px;
    font-weight: 300;
    color: #333;
    white-space: nowrap;
    position: relative;
}
select#select-date {
    width: 270px;
    vertical-align: middle;
    /* margin-top: 7px; */
    border: 1px solid #e6e6e6;
}

select#select-date:focus {
    border: 1px solid #c3c3c3;
    outline: none;
    box-shadow: none;
}
/*.my_account_btn:after {
    padding-left: 10px;
    font-size: 8px;
    position: relative;
    top: 0;
    !*color: #FFFFFF;*!
}*/



/* new search page */

.new_search_page p,
.new_search_page span,
.new_search_page li {
    font-family: 'Ubuntu', sans-serif;
    line-height: 150%;
    font-weight: 300;
    font-size: 16px;
}


.result_summary_box h1 {
    font-size: 26px;
    margin-bottom: 30px;
    display: block;
}

.result_summary_box {margin: 25px 0 30px;}

/*
.dropdown-toggle:hover ~ .dropdown-menu {
    display: block;
}
*/

div#top-filter-container {
    border: 1px solid #e6e6e6;
    box-shadow: 0 0 10px rgba(0,0,0,0.02);
    border-radius: 2px;
    margin-bottom: 20px;
    width: 100%;
    padding: 15px 15px 15px 15px;
    position: relative;
    z-index: 10;
    background: #fff;
}

button.btn.btn-secondary.dropdown-toggle {
    border: 1px solid #5b92f9 !important;
    background: transparent;
    color: #5b92f9;
    padding: 5px 15px;
    line-height: 21px;
    border-radius: 40px;
}

i.fas.fa-th {
    font-size: 12px;
    display: inline-block;
    margin: 0 10px 0 0;
    color: #5b92f9;
}

button.btn.btn-secondary.dropdown-toggle:hover {
    background: #5b92f9;
    color: #fff;
}

button.btn.btn-secondary.dropdown-toggle:hover .fas.fa-th {
    color: #fff;
}

.dropdown-item.active, .dropdown-item:active {border-left: 2px solid #5b92f9;color: #5b92f9;background: #f5f5f5;}

#top-filter-container .dropdown-menu {
    width: 180px;
    margin-top: 15px;
    right: inherit;
    left: 0;
}

a.dropdown-item {
    line-height: 50px !important;
    height: 50px !important;
    padding: 0 20px !important;
    display: block;
    margin: 0 !important;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400 !important;
    font-size: 14px;
}

.dropdown-menu.show {
    padding: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.1) !important;
    /* border-top: none; */
    border: none;
}

.mini_search_box {
    position: relative;
    text-align: right;
}

.mini_search_box i {
    background: #fff;
    border: 0 none;
    position: absolute;
    z-index: 10;
    height: 31px;
    top: 1px;
    left: 17px;
    padding: 0;
    /* width: 28px; */
    line-height: 33px;
    border-radius: 40px;
    color: #ddd;
    font-size: 12px;
}

input#mini_search {
    font-size: 14px;
    width: 200px;
    margin: 0;
    height: 33px;
    text-indent: 30px;
    border-radius: 40px;
    border: 1px solid #e6e6e6;
    background: #fff;
    color: #333;
    padding: .5rem;
}

.mini_search_box input#mini_search:focus {
    border-color: #5b92f9;
    outline: none;
    box-shadow: none;
}


.mini_search_box input#mini_search:focus i {
    color: #333 !important;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
}

h1 span.result_count {
    font-weight: 500;
    color: #5b92f9;
}

.dropdown-toggle::after {
    font-size: 12px;
}

.fragment {
    margin: 0;
}

.result_column_container ul{
    padding: 0;
    list-style-type: none;
    margin: 0;
}

@media (min-width: 1200px) {
    .result_column_container .product-col {
        width: 25%;
    }
}

.product-col {
    width: 25%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

ul.column.fragment:after {
    display: table;
    content: " ";
    clear: both;
}

.product {
    border-radius: 2px;
    display: block;
    margin-bottom: 20px;
    float: left;
    position: relative;
    width: 100%;
    background: #fff;
    border: 1px solid #e6e6e6;
    transition: transform .1s ease-in-out;
}

.images > .image {
    height: 200px;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.images>.image>.img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-color: #e6e6e6;
}

.product .specs {
    position: absolute;
    width: 100%;
    z-index: 0;
    top: 100%;
    background: #fff;
    box-shadow: 0 0 0 4px #dbe7f2;
    display: none;
}

.product .specs ul li:nth-child(odd) {
    background: #f5f5f5;
    float: left;
    width: 100%;
}

.product .specs ul li span {
    display: block;
    margin: 0;
    width: 50%;
    float: left;
    padding: 5px 15px;
    font-size: 14px;
    color: #333;
}

.product .info {
    padding: 15px;
    border: 0 solid #e6e6e6;
    -webkit-border-bottom-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    position: relative;
    z-index: auto;
    background: #fff;
}

.product .info>h6 {
    height: 38px;
    line-height: 18px;
    color: #333;
    margin: 0;
    padding: 0 0 5px 0;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

@media (min-width: 1200px) {
    /*.new_search_page.container {
        max-width: 80%;
    }*/
}

.product .info .price-info, .grid-large .product .info .price-info {
    margin-bottom: -5px;
    position: relative;
}

.product .info .price-info>span.price {
    font-size: 22px !important;
    font-weight: 400 !important;
    white-space: nowrap;
    display: inline-block !important;
    color: #5b92f9;
    position: relative;
    z-index: 1;
    width: 100%;
}

.product .info .price-info .each, .grid-large .product .info .price-info .each {
    color: #999;
    font-size: 12px;
    position: relative;
    z-index: 1;
    top: -2px;
    display: inline-block !important;
}

.product:hover {
    transform: scale(1.05);
    z-index: 100;
    box-shadow: 0 0 0 4px #dbe7f2;
}

.product:hover .specs{
    display: block;
}

.product .specs ul li .product-status {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    z-index: 10;
    margin: 0;
    margin-left: 5px;
}

.product .specs ul li .product-status.green {
    background: #7FC70C;
}

.price sup {
    font-size: 59%;
}

.add_to_cart {
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid #5b92f9;
    border-radius: 50%;
    padding: 4px;
    margin: 0;
    line-height: 0;
    cursor: pointer;
    transition: 400ms;
}

.add_to_cart i {
    font-size: 12px;
    vertical-align: middle;
}

.add_to_cart:hover i {
    color: #333;
    transition: 400ms;
}

.add_to_cart:hover {
    border-color: #333;
}